@model Examen.Models.DB.Empleado
@{
    ViewData["Title"] = "Detalle";
}

<h1 class="display-4">Detalle</h1>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            @{
                if (Model.Foto != null)
                {
                    <img class="card-img-top" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Foto)" alt="Card image cap">
                }
                else
                {
                    <span>Sin Foto</span>
                }
            }
            <div class="card-body">
                <h5 class="card-title">@Model.NombreCompleto</h5>
                <p class="card-text">
                    @{
                        var edad = DateTime.Now.Year - Model.FechaNacimiento.Value.Year;
                        if (Model.FechaNacimiento.Value.Month > DateTime.Now.Month)
                        {
                            --edad;
                        }
                        var años_empleo = DateTime.Now.Year - Model.FechaIngreso.Year;
                        <span>Edad: @edad</span>
                        <br />
                        <span>Años trabajados: @años_empleo</span>

                    }
                </p>
                <p class="card-text">
                    Correo: @Model.Correo
                </p>
            </div>
        </div>
</div>
    <div class="col">
        @{
            if (ViewBag.Habilidades != null)
            {
                foreach (var item in ViewBag.Habilidades as IEnumerable<Examen.Models.DB.EmpleadoHabilidad>)
                {
                <div class="row alert alert-success">
                    <div class="col">
                        @item.NombreHabilidad
                    </div>
                    <div class="col">
                        <a class="btn btn-danger" asp-controller="Habilidades" asp-action="Eliminar" asp-route-id="@item.IdHabilidad" onclick=" return confirm('Esta seguro de eliminar @item.NombreHabilidad ?')">Delete</a>
                    </div>
                </div>
                }
            }
            else
            {
                <span class=" alert alert-danger">Sin Habilidades</span>
            }
        }
        <br />
        <a class="btn btn-primary" asp-area="" asp-controller="Habilidades" asp-route-id="@Model.IdEmpleado" asp-action="AgregarHabilidad">Agregar Habilidad</a>

    </div>
</div>


